#current_container {
  width: 350px;
  height: 15%;
  background-color: #c9c9c9;
  border-radius: 25px;
  text-align: center;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
  #current_container {
    width: 100%;
  }
}


#current_container #temperature {
  font-size: 150%;
  background-color: lightgreen;
  margin: 0 10%;
  border-radius: 15px;
}

#current_container #temperature p,
#current_container hr {
  margin: 5% 0;
}

#current_container hr {
  width: 98%;
  height: 2px;
  background-color: darkgray;
  margin-top: 1%;
  margin-bottom: 1%;
}

#current_container .less_important {
  margin-right: 8%;
  text-align: right;
}

#current_container .less_important p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

#current_container .describer_text {
  margin-left: 4%;
  text-align: left;
}

.describer_text {
  margin-right: 8px;
}

.value_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
